{% extends 'base.html.twig' %}

{% block body %}
    <div class="vh-100 align-content-center">
        {% form_theme registerAgentForm 'bootstrap_5_layout.html.twig' %}
        {{ form(registerAgentForm) }}
    </div>
{% endblock %}
